<div class="park-info">
	<h2><%= @park.name %></h2>
	<p><%= @park.description %></p>
	<div class="park-rangers">
		<h4>Rangers at this park:</h4>
		<% @park.rangers.each do |r| %>
		<%= r.name %>
		<% end %>
	</div>
	<p><img src="<%= @park.picture %>"></p>
</div>
<div class="pg-btns">
	<a href="/parks/<%=@park.id%>/edit"><button>Edit This Park Entry</button></a>
	<button><%= link_to "Delete Park Entry", park_path(@park.id), method: :delete%></button>
	<a href="/parks/"><button>Back to List</button></a>
</div>
